<section class="footer">
  <div class="infos">
    <div class="left-menu">
      <h1>CodedBytes</h1>
      <p>
        Estes têm sido meus mantras - foco e simplicidade.</p>

      <p>
        O simples pode ser mais difícil que complexo.
        Você precisa trabalhar duro para deixar o seu pensamento limpo e manter a simplicidade.
      </p>
      <span class="name">- Steve Jobs</span>
    </div>

    <div class="right-menu">
      <span>Contato</span>

      <div class="item">
        <i class="fa-regular fa-envelope fa-2x"></i>

        <div class="sub-item">
            <h3>Forma Manual: </h3>
            <p>{{ email }}</p>
        </div>
      </div>

      <div class="item">
        <i class="fa-solid fa-phone fa-2x"></i>

        <div class="sub-item">
            <h3>Telefone: </h3>
            <a href='tel: {{ number }}'>{{ number }}</a>
        </div>
      </div>

      <div class="social-links" id="last">
        <a href="/" title="Github"><i class="fa-brands fa-github-square fa-2x"></i></a>
        <a href="/" title="LinkedIn"><i class="fa-brands fa-linkedin fa-2x"></i></a>
        <a href="javascript:void(0);" title="yuuto.x"><i class="fa-brands fa-discord fa-2x"></i></a>
      </div>
    </div>
  </div>

  <div class="copyright">
    <p>Site feito usando Angular 17</p>
    <p>CodedBytes - Todos os direitos reservados.</p>
  </div>
</section>
