<!-- Navbar -->
<app-navbar></app-navbar>

<!-- MainBanner -->
<app-mainbanner id="main"></app-mainbanner>

<!-- Languages section -->
<app-langs-section></app-langs-section>

<!-- Projects Section -->
<app-projects-section id="jobs"></app-projects-section>

<!-- contact -->
<app-contact-section id="contact"></app-contact-section>

<!-- Footer -->
<app-footer-section></app-footer-section>

<!-- Routing -->
<router-outlet></router-outlet>

<!-- Goto top functions -->
<app-totop-function></app-totop-function>
