<!-- Main Banner -->
<section class="main-banner">
    <img src="assets/image/me.png" alt="Me" />

    <div class="right-side">
      <h1>Olá,</h1>
      <h2>Sou <img src="https://readme-typing-svg.herokuapp.com?font=Fira+Code&weight=700&size=23&duration=2500&pause=1000&vCenter=true&random=false&height=25&width=260&lines=Jo%C3%A3o+Victor;FullStack+Developer" alt="Typing SVG" /></h2>

      <p>
        Entusiasta da tecnologia e apaixonado por transformar ideias em soluções digitais impactantes.
        Com experiência tanto no desenvolvimento front-end, criando interfaces envolventes e intuitivas,
        quanto no back-end, construindo bases sólidas e eficientes.
      </p>

    </div>

    <div class="mouse" *ngIf="onScroll()">

      <div class="mouse-icon">
        <span class="mouse-wheel"></span>
      </div>

    </div>
</section>
